<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset='UTF-8'>
  <title>Chongchong Wang | Full Stack Web Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular -->
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>

  <!-- hover css -->
  <link rel="stylesheet" type="text/css" href="bower_components/hover/css/hover.css">
    <!-- google font -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,800italic,500,500italic,600,600italic,700,800,700italic,400italic' rel='stylesheet' type='text/css'>
  <!-- angular css  -->
  <script src="static/script.js"></script>
  <link rel="stylesheet" type="text/css" href="static/main.css">
   <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body ng-app="myApp" ng-controller = 'mainController'>
<div class="fixed-header">
 

<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
      <li class="active"><a class="navbar-brand hvr-float-shadow" href="" style="color:white;" ng-click='gotoAnchor("cw")'>Chongchong Wang</a></li>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li class="active"><a href="" ng-click='gotoAnchor("cw")'>Chongchong Wang</a></li> -->
      <li><a href="" ng-click='gotoAnchor("ab")'  class="hvr-float-shadow" style="color:white;">About</a></li>
      <li><a href="" ng-click='gotoAnchor("pr")'  class="hvr-float-shadow" style="color:white;">Projects</a></li>
      <li><a href="" ng-click='gotoAnchor("co")'  class="hvr-shutter-out-horizontal"  style="color:white;">Hire Me</a></li>
    </ul>
  </div>
</nav>
</div>

<div class="container-fluid anchor" id="anchorcw">
     <div id="me" >
        <h1 >Hi, I'm <strong>Chongchong Wang</strong></h1>
        <h1 id="intro">{{intro}}</h1>
        <div ng-if='intro.length == 24' class="text-center">
            <button ng-click='gotoAnchor("co")'id="hire">
                AVAILABLE FOR HIRE
            </button>
        </div>
        <div ng-if='intro.length == 24' class="text-center">
            <i class="fa fa-angle-down hvr-icon-hang" ng-click='gotoAnchor("pr")' id="down_arrow"></i>
        </div>
      </div>

</div>
<div class="container-fluid anchor" id="anchorpr">
  <div class="container container-a1">
  <div class="col-sm-12">
    <h2>Some of my <strong>Projects</strong></h2>
    <h4><l>All my projects are developed from scratch, each website took under just one week to complete! Some of them only took under 2 days!</l></h4>
    <h4><i>**This portfolio is built only by using HTML5,CSS3 and <strong>AngularJS</strong></i></h4>
  </div>
    <ul class="caption-style-1" style="display: inline-block;">
        <li>
            <img class="projectImg img-responsive" src="static/images/foodhunter1.png">
            <div class="caption">
                <div class="blur"></div>
                    <div class="caption-text">
                        <h1>Food Hunter</h1>
                        <h3><a href="https://github.com/CcWang/foodHunter" target="_blank" class="hvr-wobble-skew">Github</a></h3>
                        <h3>Demo</h3>
                        <h3><a href="http://52.26.69.49/" target='_blank' class="hvr-wobble-top">Check it out!</a></h3>
                        <div class="text-center" ng-repeat="img in ['angular','node','mongodb','materialize','aws']" style="display: inline-block; padding-top:5px ">
                            <img src="static/images/{{img}}.png" class="skillImg img-responsive img-circle">
                        </div>
                    </div>
                </div>
           
        </li>
        <li>
            <img class="projectImg img-responsive" src="static/images/movie.png" >
            <div class="caption">
                <div class="blur"></div>
                    <div class="caption-text">
                        <h1>Movie Wish List</h1>
                        <h3><a href="https://github.com/CcWang/Mongoose-MovieWishList-Generator" target="_blank" class="hvr-wobble-skew">Github</a></h3>
                        <h3>Demo</h3>
                        <h3><a href="http://52.11.63.40/" target='_blank' class="hvr-wobble-top">Check it out!</a></h3>
                       <div  class="text-center" ng-repeat="img in ['rails','ruby','react','postgresql','aws','bootsrap']" style="display: inline-block;">
                            <img src="static/images/{{img}}.png" class="skillImg img-responsive img-circle">
                        </div>
                    </div>
                </div>
           
        </li>
        <li>
            <img class="projectImg img-responsive" src="static/images/mission.png" >
            <div class="caption">
                <div class="blur"></div>
                    <div class="caption-text">
                        <h1>Mission Checker</h1>
                        <h3><a href="https://github.com/CcWang/RoR-Missions" target="_blank" class="hvr-wobble-skew">Github</a></h3>
                        <h3>Demo</h3>
                        <h3><a href="http://52.39.12.139/" target='_blank' class="hvr-wobble-top">Check it out!</a></h3>
                       <div class="text-center" ng-repeat="img in ['rails','ruby','postgresql','aws','bootsrap']" style="display: inline-block;">
                            <img src="static/images/{{img}}.png" class="skillImg img-responsive img-circle">
                        </div>
                    </div>
                </div>
           
        </li>
    </ul>    
  </div>
</div>
<div class="container-fluid anchor" id="anchorab">
  <div class="col-sm-10 col-sm-offset-1" id="about">

    <h2>Hi there! I am Chongchong, many call me Cecilia.</h2>
    <img src="static/images/img_me.jpg"  class="col-sm-6 img-thumbnail">
    <div class="col-sm-4 col-sm-offset-1">
      <p ng-bind='about_1' ></p>
      <!-- <p ng-bind='about_2'></p> -->
    </div>
  </div>
</div>
<div class="container-fluid anchor" id="anchorco">
  <div class="col-sm-10 col-sm-offset-1" id="contact">
    <h2>You can find me or my code on ...</h2>
    <div class="col-sm-8 col-sm-offset-4">
      <img src="static/images/contact.jpg" class="img-responsive" id="me_pic">
    </div>
    <div class="text-center">
      <p id="contact_p"> <a href="https://www.linkedin.com/in/chongchongwang" target="_blank"><img src="static/images/linkedin_icon.png" class="contact_icon" /> LinkedIn</a> | <a href="https://github.com/CcWang/" target="_blank"><img src="static/images/github_icon.png" class="contact_icon" />GitHub</a> | <a href="mailto:ccwang.sv@gmail.com?Subject=Hello%20Chongchong" target="_top"><img src="static/images/email.png" class="contact_icon" />Email Me </a></p>
    </div>
    <a href="" ng-click='gotoAnchor("cw")' >Back To Top</a>
  </div>
</div>

</body>
</html>